
.formCard {
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: var(--secondary);
    margin-bottom: 20px;
    margin-top: 20px;
}

.halves {
    width: 35%;
    display: inline-block;
    margin: 2%
}

.thirds {
    width: 25%;
    display: inline-block;
    margin: 2%;
}

#zipDiv {
    width: 10%;
}
.validate {
    text-indent: 10px;
}

#submitButton {
    margin-left: 20px;
    background-color: var(--primary);
    margin-bottom: 15px;
}

#backButton {
    background-color: white;
    color: var(--primary);
    padding: 0 42px 0 42px; 
    margin-bottom: 15px;
}

#icon {
    margin-left: 0;
}

#radios {
    display: inline-flex;
}

.radioClass {
    margin:5px 15px 5px 15px
}

#dropdown {
    width: 15%;
}

p {
    margin: 5px
}

#demoText {
    border: 2px var(--secondary) solid;
    border-radius: 7px;
    padding: 2px;
    /* color: white */
}

form {
    color: var(--primary);
    background-color: white;
}

.validate {
    color: black
}

@media only screen and (max-width: 550px) {
    .halves {
        width: 80%
    }

    .thirds {
        width: 80%
    }

    #dropdown {
        width: 30%
    }

    #submitButton {
        width: 40%;
        /* margin: auto; */
        margin-bottom: 15px;
    }
    #backButton {
        width: 40%;
        /* margin: auto; */
        margin-bottom: 15px;
    }

    #zipDiv {
        width: 40%;
    }
}
