#radioDiv {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    
}

.customRadio {
    display: inline-block;
    padding: 30px;
    text-align: center;
    margin: 10px;
}

.radioImage{
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background-color: white;
}

.formCard {
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: var(--secondary);
    margin-bottom: 20px;
}

.productFormContainer {
    margin-top: 10px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#content-wrap {
    /* padding-bottom: 14rem;   */
    flex: 1 0 auto;
  }

  #productBttn {
    background-color: var(--primary);
    padding: 0 40px 0 40px;
    margin-left: 10px;
  }

  #backBttn {
    color: var(--primary);
    background-color: white;
    padding: 0 40px 0 40px;
  }

.radioActive {
    border: 5px black solid;
}

.normal {
    border: solid 0px white;
}
  

  @media only screen and (max-width: 600px) {
      .customRadio {
          margin: 2px;
          padding: 15px;
      } 


  }