:root {
    --primary: #13345E;
    --secondary: #76D3A3;
    --accent: #0F6EC6;
    --accent2: #EF0707;
}

nav {
    background-color: var(--primary);
}

.nav-wrapper {
    margin-right: 5%;
}

.brand-logo {
    margin-left: 5%;
}

.hideSearch {
    visibility: hidden;
}

.showSearch {
    visibility: visible;
    width: 80%;
    margin-left: 10%;;
}

#searchRight {
    float: right;
}

#searchInput {
    float: left;
    width: 90%;
}

#searchBttn {
    background-color: var(--primary);
    color: white;
    margin-left: 2px;
}


@media only screen and (max-width: 800px) {
    .brand-logo {
        /* text-align: center; */
        font-size: 20px !important;
    }

    #searchInput {
        width: 85%;
    }
}