/* .body {
    position: relative;
    min-height: 100vh;
} */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#content-wrap {
    /* padding-bottom: 14rem;   */
    flex: 1 0 auto;
  }